@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  outline: none;
  border: none;
  background-color: transparent;
  font: inherit;
  color: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  background-color: #333542;
  color: #edeef0;
}

:root {
  --cell-size: 100px;
  --mark-size: calc(var(--cell-size) * 0.9);
}

.game-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10.625rem;
  width: 100%;
  height: 100vh;
}
.game-section .board {
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, 200px);
}
.game-section .score-container {
  width: 150px;
  height: 150px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.game-section .score-container p {
  font-weight: 600;
  font-size: 35px;
}
.game-section .score-container .score {
  font-size: 47px;
}

.cell {
  width: 12.5rem;
  height: 12.5rem;
  border: 1px dashed rgba(237, 238, 240, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}

.cell:nth-child(3n+1) {
  border-left: none;
}

.cell:nth-child(3n+3) {
  border-right: none;
}

.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
  border-bottom: none;
}

.cell.x,
.cell.o {
  cursor: not-allowed;
  position: relative;
}

.cell.x {
  background-image: url("tic-x.svg");
}

.cell.o {
  background-image: url("tic-o.svg");
}

.board.x .cell:not(.x):not(.o)::before,
.board.o .cell:not(.x):not(.o)::before {
  opacity: 0;
  content: "";
  position: absolute;
  inset: 0;
  transition: all 0.3s;
}

.board.x .cell:not(.x):not(.o)::before {
  background-image: url("tic-x.svg");
}

.board.o .cell:not(.x):not(.o)::before {
  background-image: url("tic-o.svg");
}

.board.x .cell:not(.x):not(.o):hover::before,
.board.o .cell:not(.x):not(.o):hover::before {
  opacity: 0.1;
}

.start-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100vh;
  background-color: #333542;
}
.start-section .message {
  margin-bottom: 5rem;
  text-transform: uppercase;
  font-size: 1.5625rem;
  color: #edeef0;
  font-weight: 700;
  letter-spacing: 0.5px;
}
.start-section .marks .mark {
  width: 12.5rem;
  height: 12.5rem;
  cursor: pointer;
  -webkit-animation: shakeMarks 0.8s linear infinite;
          animation: shakeMarks 0.8s linear infinite;
}
.start-section .marks .mark:not(:last-child) {
  margin-right: 9.375rem;
}
.start-section .marks .mark img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.start-section .reminder {
  margin-top: 3.125rem;
  font-size: 0.9375rem;
  color: rgba(237, 238, 240, 0.4);
  text-transform: uppercase;
  letter-spacing: 0.8px;
}
.start-section.hide {
  -webkit-animation: hide 0.6s forwards;
          animation: hide 0.6s forwards;
}

@-webkit-keyframes hide {
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes hide {
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes shakeMarks {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(25deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-25deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes shakeMarks {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(25deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-25deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.end-section {
  display: none;
  position: absolute;
  inset: 0;
  height: 60%;
  margin-block: auto;
  background-color: #21232a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.end-section .message {
  margin-bottom: 2.5rem;
  font-size: 3.75rem;
  text-transform: uppercase;
}
.end-section button {
  cursor: pointer;
  color: rgb(158, 212, 162);
  background-color: #333542;
  font-size: 1.25rem;
  transition: all 0.2s;
  padding: 1.25rem 1.5625rem;
  border-radius: 2px;
}
.end-section button:hover {
  background-color: #4a4d5f;
}/*# sourceMappingURL=style.css.map */